In [46]:
import pandas as pd
import glob

In [86]:
df_FF = pd.read_csv('Data/Federal_Funds_Rate.csv')
df_FF

           DATE  FEDFUNDS
0    1954-07-01      0.80
1    1954-08-01      1.22
2    1954-09-01      1.07
3    1954-10-01      0.85
4    1954-11-01      0.83
..          ...       ...
812  2022-03-01      0.20
813  2022-04-01      0.33
814  2022-05-01      0.77
815  2022-06-01      1.21
816  2022-07-01      1.68

[817 rows x 2 columns]

In [62]:
pd.read_csv('Data/Population_Total.csv')

           DATE    POPTHM
0    1959-01-01  175818.0
1    1959-02-01  176044.0
2    1959-03-01  176274.0
3    1959-04-01  176503.0
4    1959-05-01  176723.0
..          ...       ...
757  2022-02-01  332750.0
758  2022-03-01  332812.0
759  2022-04-01  332863.0
760  2022-05-01  332928.0
761  2022-06-01  333028.0

[762 rows x 2 columns]

In [88]:
df_CPI = pd.read_csv('Data/CPI.csv')
df_CPI

           DATE  CPIAUCSL
0    1947-01-01    21.480
1    1947-02-01    21.620
2    1947-03-01    22.000
3    1947-04-01    22.000
4    1947-05-01    21.950
..          ...       ...
901  2022-02-01   284.182
902  2022-03-01   287.708
903  2022-04-01   288.663
904  2022-05-01   291.474
905  2022-06-01   295.328

[906 rows x 2 columns]

In [69]:
df = pd.concat(map(pd.read_csv, ['Data/Federal_Funds_Rate.csv', 'Data/10Year_Minus_3M.csv']))
df

           DATE  FEDFUNDS  T10Y3MM
0    1954-07-01      0.80      NaN
1    1954-08-01      1.22      NaN
2    1954-09-01      1.07      NaN
3    1954-10-01      0.85      NaN
4    1954-11-01      0.83      NaN
..          ...       ...      ...
482  2022-03-01       NaN     1.68
483  2022-04-01       NaN     1.99
484  2022-05-01       NaN     1.91
485  2022-06-01       NaN     1.60
486  2022-07-01       NaN     0.60

[1304 rows x 3 columns]

In [63]:
df = pd.concat(map(pd.read_csv, ['Data/Federal_Funds_Rate.csv', 'Data/10Year_Minus_3M.csv', 'Data/Average_Hourly_Earnings.csv', 'Data/10Year_Minus_2Year.csv', 'Data/CPI.csv', 'Data/Core_CPI.csv', 'Data/Population_Total.csv', 'Data/10Year_Breakevens.csv']))
df

,DATE,FEDFUNDS,T10Y3MM,T10Y2YM,CPIAUCSL,CPILFESL,POPTHM,T10YIEM
0,1954-07-01,0.80,NaN,NaN,NaN,NaN,NaN,NaN
1,1954-08-01,1.22,NaN,NaN,NaN,NaN,NaN,NaN
2,1954-09-01,1.07,NaN,NaN,NaN,NaN,NaN,NaN
3,1954-10-01,0.85,NaN,NaN,NaN,NaN,NaN,NaN
4,1954-11-01,0.83,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
230,2022-03-01,NaN,NaN,NaN,NaN,NaN,NaN,2.85
231,2022-04-01,NaN,NaN,NaN,NaN,NaN,NaN,2.88
232,2022-05-01,NaN,NaN,NaN,NaN,NaN,NaN,2.69
233,2022-06-01,NaN,NaN,NaN,NaN,NaN,NaN,2.62
234,2022-07-01,NaN,NaN,NaN,NaN,NaN,NaN,2.36

In [66]:
df['POPTHM']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
230   NaN
231   NaN
232   NaN
233   NaN
234   NaN
Name: POPTHM, Length: 4547, dtype: float64

In [ ]:
df = pd.concat(map(pd.read_csv, ['d1.csv', 'd2.csv','d3.csv']))

In [83]:
files = glob.glob("./Data/*.csv")
dfs = [pd.read_csv(f, header=None) for f in files]

salesdata = pd.concat(dfs, ignore_index=True, axis=1)

In [84]:
salesdata

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,DATE,T10YIEM,DATE,T10Y2YM,DATE,T10Y3MM,DATE,CES0500000003,DATE,CC4WSA,...,DATE,LNU00000060,DATE,PPIACO,DATE,MICH,DATE,UMCSENT,DATE,UNRATE
1,2003-01-01,1.76,1976-06-01,0.80,1982-01-01,1.67,2006-03-01,20.04,1967-01-28,1118750,...,1948-01-01,59188,1913-01-01,12.1,1978-01-01,5.2,1952-11-01,86.2,1948-01-01,3.4
2,2003-02-01,1.91,1976-07-01,0.98,1982-02-01,0.15,2006-04-01,20.16,1967-02-04,1118000,...,1948-02-01,59230,1913-02-01,12.0,1978-02-01,6.4,1952-12-01,.,1948-02-01,3.8
3,2003-03-01,1.87,1976-08-01,1.14,1982-03-01,0.55,2006-05-01,20.13,1967-02-11,1126500,...,1948-03-01,59277,1913-03-01,12.0,1978-03-01,6.3,1953-01-01,.,1948-03-01,4.0
4,2003-04-01,1.78,1976-09-01,1.17,1982-04-01,0.53,2006-06-01,20.22,1967-02-18,1138500,...,1948-04-01,59330,1913-04-01,12.0,1978-04-01,6.7,1953-02-01,90.7,1948-04-01,3.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
files = glob.glob("./Data/*.csv")

In [71]:
files

['./Data\\10Year_Breakevens.csv',
 './Data\\10Year_Minus_2Year.csv',
 './Data\\10Year_Minus_3M.csv',
 './Data\\Average_Hourly_Earnings.csv',
 './Data\\Continuing_Claims_4WeekMA.csv',
 './Data\\Core_CPI.csv',
 './Data\\CPI.csv',
 './Data\\Debt_to_GDP_Quarterly.csv',
 './Data\\Employment_Cost_Index_ALLCivilians.csv',
 './Data\\Employment_Cost_Index_PrivInd.csv',
 './Data\\Federal_Debt_Quarterly.csv',
 './Data\\Federal_Funds_Rate.csv',
 './Data\\GDP_Quarterly_Real.csv',
 './Data\\GDP__Quarterly_Nominal.csv',
 './Data\\Inital_Claims_4weekMA.csv',
 './Data\\M1_MoneySupply.csv',
 './Data\\M2_MoneySupply.csv',
 './Data\\M2_Money_Velocity_Quarterly.csv',
 './Data\\Mortgage_Rate_Weekly.csv',
 './Data\\Nominal_DXY.csv',
 './Data\\Population_Over55.csv',
 './Data\\Population_Total.csv',
 './Data\\Population_WorkingAge.csv',
 './Data\\PPI_AllCommods.csv',
 './Data\\UMICH_12M_InflationExpectations.csv',
 './Data\\UMICH_Consumer_Sentiment.csv',
 './Data\\Unemployment_Rate.csv']

In [ ]:
result = pd.concat([df1, df4], axis=1).reindex(df1.index)

In [91]:
result_2 = pd.concat([df_CPI, df_FF], axis=1).reindex(df_CPI.index)
result_2

           DATE  CPIAUCSL        DATE  FEDFUNDS
0    1947-01-01    21.480  1954-07-01      0.80
1    1947-02-01    21.620  1954-08-01      1.22
2    1947-03-01    22.000  1954-09-01      1.07
3    1947-04-01    22.000  1954-10-01      0.85
4    1947-05-01    21.950  1954-11-01      0.83
..          ...       ...         ...       ...
901  2022-02-01   284.182         NaN       NaN
902  2022-03-01   287.708         NaN       NaN
903  2022-04-01   288.663         NaN       NaN
904  2022-05-01   291.474         NaN       NaN
905  2022-06-01   295.328         NaN       NaN

[906 rows x 4 columns]

In [103]:
pd.set_option('display.max_rows', None)

In [112]:
#####corrrect method?

In [118]:

df1 = pd.read_csv('Data/CPI.csv')
df1['DATE'] = pd.to_datetime(df1.DATE)

df2 = pd.read_csv("Data/Federal_Funds_Rate.csv")
df2['DATE'] = pd.to_datetime(df2.DATE)


df_all = df2.merge(df1, on='DATE', how='outer')
df_all = result.sort_values('DATE')

df3 = pd.read_csv('Data/GDP_Quarterly_Real.csv')
df3['DATE'] = pd.to_datetime(df3.DATE)
df_all = result.merge(df3, on='DATE', how='outer')
df_all = result.sort_values('DATE')
df_all

          DATE  FEDFUNDS  CPIAUCSL      GDPC1
0   1947-01-01       NaN    21.480   2034.450
1   1947-02-01       NaN    21.620        NaN
2   1947-03-01       NaN    22.000        NaN
3   1947-04-01       NaN    22.000   2029.024
4   1947-05-01       NaN    21.950        NaN
5   1947-06-01       NaN    22.080        NaN
6   1947-07-01       NaN    22.230   2024.834
7   1947-08-01       NaN    22.400        NaN
8   1947-09-01       NaN    22.840        NaN
9   1947-10-01       NaN    22.910   2056.508
10  1947-11-01       NaN    23.060        NaN
11  1947-12-01       NaN    23.410        NaN
12  1948-01-01       NaN    23.680   2087.442
13  1948-02-01       NaN    23.670        NaN
14  1948-03-01       NaN    23.500        NaN
15  1948-04-01       NaN    23.820   2121.899
16  1948-05-01       NaN    24.010        NaN
17  1948-06-01       NaN    24.150        NaN
18  1948-07-01       NaN    24.400   2134.056
19  1948-08-01       NaN    24.430        NaN
20  1948-09-01       NaN    24.360        NaN
21  1948-10-01       NaN    24.310   2136.440
22  1948-11-01       NaN    24.160        NaN
23  1948-12-01       NaN    24.050        NaN
24  1949-01-01       NaN    24.010   2107.001
25  1949-02-01       NaN    23.910        NaN
26  1949-03-01       NaN    23.910        NaN
27  1949-04-01       NaN    23.920   2099.814
28  1949-05-01       NaN    23.910        NaN
29  1949-06-01       NaN    23.920        NaN
30  1949-07-01       NaN    23.700   2121.493
31  1949-08-01       NaN    23.700        NaN
32  1949-09-01       NaN    23.750        NaN
33  1949-10-01       NaN    23.670   2103.688
34  1949-11-01       NaN    23.700        NaN
35  1949-12-01       NaN    23.610        NaN
36  1950-01-01       NaN    23.510   2186.365
37  1950-02-01       NaN    23.610        NaN
38  1950-03-01       NaN    23.640        NaN
39  1950-04-01       NaN    23.650   2253.045
40  1950-05-01       NaN    23.770        NaN
41  1950-06-01       NaN    23.880        NaN
42  1950-07-01       NaN    24.070   2340.112
43  1950-08-01       NaN    24.200        NaN
44  1950-09-01       NaN    24.340        NaN
45  1950-10-01       NaN    24.500   2384.920
46  1950-11-01       NaN    24.600        NaN
47  1950-12-01       NaN    24.980        NaN
48  1951-01-01       NaN    25.380   2417.311
49  1951-02-01       NaN    25.830        NaN
50  1951-03-01       NaN    25.880        NaN
51  1951-04-01       NaN    25.920   2459.196
52  1951-05-01       NaN    25.990        NaN
53  1951-06-01       NaN    25.930        NaN
54  1951-07-01       NaN    25.910   2509.880
55  1951-08-01       NaN    25.860        NaN
56  1951-09-01       NaN    26.030        NaN
57  1951-10-01       NaN    26.160   2515.408
58  1951-11-01       NaN    26.320        NaN
59  1951-12-01       NaN    26.470        NaN
60  1952-01-01       NaN    26.450   2542.286
61  1952-02-01       NaN    26.410        NaN
62  1952-03-01       NaN    26.390        NaN
63  1952-04-01       NaN    26.460   2547.762
64  1952-05-01       NaN    26.470        NaN
65  1952-06-01       NaN    26.530        NaN
66  1952-07-01       NaN    26.680   2566.153
67  1952-08-01       NaN    26.690        NaN
68  1952-09-01       NaN    26.630        NaN
69  1952-10-01       NaN    26.690   2650.431
70  1952-11-01       NaN    26.690        NaN
71  1952-12-01       NaN    26.710        NaN
72  1953-01-01       NaN    26.640   2699.699
73  1953-02-01       NaN    26.590        NaN
74  1953-03-01       NaN    26.630        NaN
75  1953-04-01       NaN    26.690   2720.566
76  1953-05-01       NaN    26.700        NaN
77  1953-06-01       NaN    26.770        NaN
78  1953-07-01       NaN    26.790   2705.258
79  1953-08-01       NaN    26.850        NaN
80  1953-09-01       NaN    26.890        NaN
81  1953-10-01       NaN    26.950   2664.302
82  1953-11-01       NaN    26.850        NaN
83  1953-12-01       NaN    26.870        NaN
84  1954-01-01       NaN    26.940   2651.566
85  1954-02-01       NaN    26.990        NaN
86  1954-03-01       NaN    26.930        NaN
87  1954-04-01       NaN    26.860   2654.456
88  1954-05-01       NaN    26.930        NaN
89  1954-06-01       NaN    26.940        NaN
90  1954-07-01      0.80    26.860   2684.434
91  1954-08-01      1.22    26.850        NaN
92  1954-09-01      1.07    26.810        NaN
93  1954-10-01      0.85    26.720   2736.960
94  1954-11-01      0.83    26.780        NaN
95  1954-12-01      1.28    26.770        NaN
96  1955-01-01      1.39    26.770   2815.134
97  1955-02-01      1.29    26.820        NaN
98  1955-03-01      1.35    26.790        NaN
99  1955-04-01      1.43    26.790   2860.942
100 1955-05-01      1.43    26.770        NaN
101 1955-06-01      1.64    26.710        NaN
102 1955-07-01      1.68    26.760   2899.578
103 1955-08-01      1.96    26.720        NaN
104 1955-09-01      2.18    26.850        NaN
105 1955-10-01      2.24    26.820   2916.985
106 1955-11-01      2.35    26.880        NaN
107 1955-12-01      2.48    26.870        NaN
108 1956-01-01      2.45    26.830   2905.656
109 1956-02-01      2.50    26.860        NaN
110 1956-03-01      2.50    26.890        NaN
111 1956-04-01      2.62    26.930   2929.666
112 1956-05-01      2.75    27.030        NaN
113 1956-06-01      2.71    27.150        NaN
114 1956-07-01      2.75    27.290   2927.034
115 1956-08-01      2.73    27.310        NaN
116 1956-09-01      2.95    27.350        NaN
117 1956-10-01      2.96    27.510   2975.209
118 1956-11-01      2.88    27.510        NaN
119 1956-12-01      2.94    27.630        NaN
120 1957-01-01      2.84    27.670   2994.259
121 1957-02-01      3.00    27.800        NaN
122 1957-03-01      2.96    27.860        NaN
123 1957-04-01      3.00    27.930   2987.699
124 1957-05-01      3.00    28.000        NaN
125 1957-06-01      3.00    28.110        NaN
126 1957-07-01      2.99    28.190   3016.979
127 1957-08-01      3.24    28.280        NaN
128 1957-09-01      3.47    28.320        NaN
129 1957-10-01      3.50    28.320   2985.775
130 1957-11-01      3.28    28.410        NaN
131 1957-12-01      2.98    28.470        NaN
132 1958-01-01      2.72    28.640   2908.281
133 1958-02-01      1.67    28.700        NaN
134 1958-03-01      1.20    28.870        NaN
135 1958-04-01      1.26    28.940   2927.395
136 1958-05-01      0.63    28.940        NaN
137 1958-06-01      0.93    28.910        NaN
138 1958-07-01      0.68    28.890   2995.112
139 1958-08-01      1.53    28.940        NaN
140 1958-09-01      1.76    28.910        NaN
141 1958-10-01      1.80    28.910   3065.141
142 1958-11-01      2.27    28.950        NaN
143 1958-12-01      2.42    28.970        NaN
144 1959-01-01      2.48    29.010   3123.978
145 1959-02-01      2.43    29.000        NaN
146 1959-03-01      2.80    28.970        NaN
147 1959-04-01      2.96    28.980   3194.429
148 1959-05-01      2.90    29.040        NaN
149 1959-06-01      3.39    29.110        NaN
150 1959-07-01      3.47    29.150   3196.683
151 1959-08-01      3.50    29.180        NaN
152 1959-09-01      3.76    29.250        NaN
153 1959-10-01      3.98    29.350   3205.790
154 1959-11-01      4.00    29.350        NaN
155 1959-12-01      3.99    29.410        NaN
156 1960-01-01      3.99    29.370   3277.847
157 1960-02-01      3.97    29.410        NaN
158 1960-03-01      3.84    29.410        NaN
159 1960-04-01      3.92    29.540   3260.177
160 1960-05-01      3.85    29.570        NaN
161 1960-06-01      3.32    29.610        NaN
162 1960-07-01      3.23    29.550   3276.133
163 1960-08-01      2.98    29.610        NaN
164 1960-09-01      2.60    29.610        NaN
165 1960-10-01      2.47    29.750   3234.087
166 1960-11-01      2.44    29.780        NaN
167 1960-12-01      1.98    29.810        NaN
168 1961-01-01      1.45    29.840   3255.914
169 1961-02-01      2.54    29.840        NaN
170 1961-03-01      2.02    29.840        NaN
171 1961-04-01      1.49    29.810   3311.181
172 1961-05-01      1.98    29.840        NaN
173 1961-06-01      1.73    29.840        NaN
174 1961-07-01      1.17    29.920   3374.742
175 1961-08-01      2.00    29.940        NaN
176 1961-09-01      1.88    29.980        NaN
177 1961-10-01      2.26    29.980   3440.924
178 1961-11-01      2.61    29.980        NaN
179 1961-12-01      2.33    30.010        NaN
180 1962-01-01      2.15    30.040   3502.298
181 1962-02-01      2.37    30.110        NaN
182 1962-03-01      2.85    30.170        NaN
183 1962-04-01      2.78    30.210   3533.947
184 1962-05-01      2.36    30.240        NaN
185 1962-06-01      2.68    30.210        NaN
186 1962-07-01      2.71    30.220   3577.362
187 1962-08-01      2.93    30.280        NaN
188 1962-09-01      2.90    30.420        NaN
189 1962-10-01      2.90    30.380   3589.128
190 1962-11-01      2.94    30.380        NaN
191 1962-12-01      2.93    30.380        NaN
192 1963-01-01      2.92    30.440   3628.306
193 1963-02-01      3.00    30.480        NaN
194 1963-03-01      2.98    30.510        NaN
195 1963-04-01      2.90    30.480   3669.020
196 1963-05-01      3.00    30.510        NaN
197 1963-06-01      2.99    30.610        NaN
198 1963-07-01      3.02    30.690   3749.681
199 1963-08-01      3.49    30.750        NaN
200 1963-09-01      3.48    30.720        NaN
201 1963-10-01      3.50    30.750   3774.264
202 1963-11-01      3.48    30.780        NaN
203 1963-12-01      3.38    30.880        NaN
204 1964-01-01      3.48    30.940   3853.835
205 1964-02-01      3.48    30.910        NaN
206 1964-03-01      3.43    30.940        NaN
207 1964-04-01      3.47    30.950   3895.793
208 1964-05-01      3.50    30.980        NaN
209 1964-06-01      3.50    31.010        NaN
210 1964-07-01      3.42    31.020   3956.657
211 1964-08-01      3.50    31.050        NaN
212 1964-09-01      3.45    31.080        NaN
213 1964-10-01      3.36    31.120   3968.878
214 1964-11-01      3.52    31.210        NaN
215 1964-12-01      3.85    31.250        NaN
216 1965-01-01      3.90    31.280   4064.915
217 1965-02-01      3.98    31.280        NaN
218 1965-03-01      4.05    31.310        NaN
219 1965-04-01      4.09    31.380   4116.267
220 1965-05-01      4.10    31.480        NaN
221 1965-06-01      4.05    31.610        NaN
222 1965-07-01      4.09    31.580   4207.782
223 1965-08-01      4.12    31.550        NaN
224 1965-09-01      4.02    31.620        NaN
225 1965-10-01      4.08    31.650   4304.731
226 1965-11-01      4.10    31.750        NaN
227 1965-12-01      4.32    31.850        NaN
228 1966-01-01      4.42    31.880   4409.518
229 1966-02-01      4.60    32.080        NaN
230 1966-03-01      4.66    32.180        NaN
231 1966-04-01      4.67    32.280   4424.581
232 1966-05-01      4.90    32.350        NaN
233 1966-06-01      5.17    32.380        NaN
234 1966-07-01      5.30    32.450   4462.053
235 1966-08-01      5.53    32.650        NaN
236 1966-09-01      5.40    32.750        NaN
237 1966-10-01      5.53    32.850   4498.660
238 1966-11-01      5.76    32.880        NaN
239 1966-12-01      5.40    32.920        NaN
240 1967-01-01      4.94    32.900   4538.498
241 1967-02-01      5.00    33.000        NaN
242 1967-03-01      4.53    33.000        NaN
243 1967-04-01      4.05    33.100   4541.280
244 1967-05-01      3.94    33.100        NaN
245 1967-06-01      3.98    33.300        NaN
246 1967-07-01      3.79    33.400   4584.246
247 1967-08-01      3.90    33.500        NaN
248 1967-09-01      3.99    33.600        NaN
249 1967-10-01      3.88    33.700   4618.812
250 1967-11-01      4.13    33.900        NaN
251 1967-12-01      4.51    34.000        NaN
252 1968-01-01      4.61    34.100   4713.013
253 1968-02-01      4.71    34.200        NaN
254 1968-03-01      5.05    34.300        NaN
255 1968-04-01      5.76    34.400   4791.758
256 1968-05-01      6.12    34.500        NaN
257 1968-06-01      6.07    34.700        NaN
258 1968-07-01      6.03    34.900   4828.892
259 1968-08-01      6.03    35.000        NaN
260 1968-09-01      5.78    35.100        NaN
261 1968-10-01      5.91    35.300   4847.885
262 1968-11-01      5.82    35.400        NaN
263 1968-12-01      6.02    35.600        NaN
264 1969-01-01      6.30    35.700   4923.760
265 1969-02-01      6.61    35.800        NaN
266 1969-03-01      6.79    36.100        NaN
267 1969-04-01      7.41    36.300   4938.728
268 1969-05-01      8.67    36.400        NaN
269 1969-06-01      8.90    36.600        NaN
270 1969-07-01      8.61    36.800   4971.349
271 1969-08-01      9.19    36.900        NaN
272 1969-09-01      9.15    37.100        NaN
273 1969-10-01      9.00    37.300   4947.104
274 1969-11-01      8.85    37.500        NaN
275 1969-12-01      8.97    37.700        NaN
276 1970-01-01      8.98    37.900   4939.759
277 1970-02-01      8.98    38.100        NaN
278 1970-03-01      7.76    38.300        NaN
279 1970-04-01      8.10    38.500   4946.770
280 1970-05-01      7.95    38.600        NaN
281 1970-06-01      7.61    38.800        NaN
282 1970-07-01      7.21    38.900   4992.357
283 1970-08-01      6.62    39.000        NaN
284 1970-09-01      6.29    39.200        NaN
285 1970-10-01      6.20    39.400   4938.857
286 1970-11-01      5.60    39.600        NaN
287 1970-12-01      4.90    39.800        NaN
288 1971-01-01      4.14    39.900   5072.996
289 1971-02-01      3.72    39.900        NaN
290 1971-03-01      3.71    40.000        NaN
291 1971-04-01      4.16    40.100   5100.447
292 1971-05-01      4.63    40.300        NaN
293 1971-06-01      4.91    40.500        NaN
294 1971-07-01      5.31    40.600   5142.422
295 1971-08-01      5.57    40.700        NaN
296 1971-09-01      5.55    40.800        NaN
297 1971-10-01      5.20    40.900   5154.547
298 1971-11-01      4.91    41.000        NaN
299 1971-12-01      4.14    41.100        NaN
300 1972-01-01      3.51    41.200   5249.337
301 1972-02-01      3.30    41.400        NaN
302 1972-03-01      3.83    41.400        NaN
303 1972-04-01      4.17    41.500   5368.485
304 1972-05-01      4.27    41.600        NaN
305 1972-06-01      4.46    41.700        NaN
306 1972-07-01      4.55    41.800   5419.184
307 1972-08-01      4.81    41.900        NaN
308 1972-09-01      4.87    42.100        NaN
309 1972-10-01      5.05    42.200   5509.926
310 1972-11-01      5.06    42.400        NaN
311 1972-12-01      5.33    42.500        NaN
312 1973-01-01      5.94    42.700   5646.286
313 1973-02-01      6.58    43.000        NaN
314 1973-03-01      7.09    43.400        NaN
315 1973-04-01      7.12    43.700   5707.755
316 1973-05-01      7.84    43.900        NaN
317 1973-06-01      8.49    44.200        NaN
318 1973-07-01     10.40    44.200   5677.738
319 1973-08-01     10.50    45.000        NaN
320 1973-09-01     10.78    45.200        NaN
321 1973-10-01     10.01    45.600   5731.632
322 1973-11-01     10.03    45.900        NaN
323 1973-12-01      9.95    46.300        NaN
324 1974-01-01      9.65    46.800   5682.353
325 1974-02-01      8.97    47.300        NaN
326 1974-03-01      9.35    47.800        NaN
327 1974-04-01     10.51    48.100   5695.859
328 1974-05-01     11.31    48.600        NaN
329 1974-06-01     11.93    49.000        NaN
330 1974-07-01     12.92    49.300   5642.025
331 1974-08-01     12.01    49.900        NaN
332 1974-09-01     11.34    50.600        NaN
333 1974-10-01     10.06    51.000   5620.126
334 1974-11-01      9.45    51.500        NaN
335 1974-12-01      8.53    51.900        NaN
336 1975-01-01      7.13    52.300   5551.713
337 1975-02-01      6.24    52.600        NaN
338 1975-03-01      5.54    52.800        NaN
339 1975-04-01      5.49    53.000   5591.382
340 1975-05-01      5.22    53.100        NaN
341 1975-06-01      5.55    53.500        NaN
342 1975-07-01      6.10    54.000   5687.087
343 1975-08-01      6.14    54.200        NaN
344 1975-09-01      6.24    54.600        NaN
345 1975-10-01      5.82    54.900   5763.665
346 1975-11-01      5.22    55.300        NaN
347 1975-12-01      5.20    55.600        NaN
348 1976-01-01      4.87    55.800   5893.276
349 1976-02-01      4.77    55.900        NaN
350 1976-03-01      4.84    56.000        NaN
351 1976-04-01      4.82    56.100   5936.515
352 1976-05-01      5.29    56.400        NaN
353 1976-06-01      5.48    56.700        NaN
354 1976-07-01      5.31    57.000   5969.089
355 1976-08-01      5.29    57.300        NaN
356 1976-09-01      5.25    57.600        NaN
357 1976-10-01      5.02    57.900   6012.356
358 1976-11-01      4.95    58.100        NaN
359 1976-12-01      4.65    58.400        NaN
360 1977-01-01      4.61    58.700   6083.391
361 1977-02-01      4.68    59.300        NaN
362 1977-03-01      4.69    59.600        NaN
363 1977-04-01      4.73    60.000   6201.659
364 1977-05-01      5.35    60.200        NaN
365 1977-06-01      5.39    60.500        NaN
366 1977-07-01      5.42    60.800   6313.559
367 1977-08-01      5.90    61.100        NaN
368 1977-09-01      6.14    61.300        NaN
369 1977-10-01      6.47    61.600   6313.697
370 1977-11-01      6.51    62.000        NaN
371 1977-12-01      6.56    62.300        NaN
372 1978-01-01      6.70    62.700   6333.848
373 1978-02-01      6.78    63.000        NaN
374 1978-03-01      6.79    63.400        NaN
375 1978-04-01      6.89    63.900   6578.605
376 1978-05-01      7.36    64.500        NaN
377 1978-06-01      7.60    65.000        NaN
378 1978-07-01      7.81    65.500   6644.754
379 1978-08-01      8.04    65.900        NaN
380 1978-09-01      8.45    66.500        NaN
381 1978-10-01      8.96    67.100   6734.069
382 1978-11-01      9.76    67.500        NaN
383 1978-12-01     10.03    67.900        NaN
384 1979-01-01     10.07    68.500   6746.176
385 1979-02-01     10.06    69.200        NaN
386 1979-03-01     10.09    69.900        NaN
387 1979-04-01     10.01    70.600   6753.389
388 1979-05-01     10.24    71.400        NaN
389 1979-06-01     10.29    72.200        NaN
390 1979-07-01     10.47    73.000   6803.558
391 1979-08-01     10.94    73.700        NaN
392 1979-09-01     11.43    74.400        NaN
393 1979-10-01     13.77    75.200   6820.572
394 1979-11-01     13.18    76.000        NaN
395 1979-12-01     13.78    76.900        NaN
396 1980-01-01     13.82    78.000   6842.024
397 1980-02-01     14.13    79.000        NaN
398 1980-03-01     17.19    80.100        NaN
399 1980-04-01     17.61    80.900   6701.046
400 1980-05-01     10.98    81.700        NaN
401 1980-06-01      9.47    82.500        NaN
402 1980-07-01      9.03    82.600   6693.082
403 1980-08-01      9.61    83.200        NaN
404 1980-09-01     10.87    83.900        NaN
405 1980-10-01     12.81    84.700   6817.903
406 1980-11-01     15.85    85.600        NaN
407 1980-12-01     18.90    86.400        NaN
408 1981-01-01     19.08    87.200   6951.495
409 1981-02-01     15.93    88.000        NaN
410 1981-03-01     14.70    88.600        NaN
411 1981-04-01     15.72    89.100   6899.980
412 1981-05-01     18.52    89.700        NaN
413 1981-06-01     19.10    90.500        NaN
414 1981-07-01     19.04    91.500   6982.609
415 1981-08-01     17.82    92.200        NaN
416 1981-09-01     15.87    93.100        NaN
417 1981-10-01     15.08    93.400   6906.529
418 1981-11-01     13.31    93.800        NaN
419 1981-12-01     12.37    94.100        NaN
420 1982-01-01     13.22    94.400   6799.233
421 1982-02-01     14.78    94.700        NaN
422 1982-03-01     14.68    94.700        NaN
423 1982-04-01     14.94    95.000   6830.251
424 1982-05-01     14.45    95.900        NaN
425 1982-06-01     14.15    97.000        NaN
426 1982-07-01     12.59    97.500   6804.139
427 1982-08-01     10.12    97.700        NaN
428 1982-09-01     10.31    97.700        NaN
429 1982-10-01      9.71    98.100   6806.857
430 1982-11-01      9.20    98.000        NaN
431 1982-12-01      8.95    97.700        NaN
432 1983-01-01      8.68    97.900   6896.561

In [108]:
df3 = pd.read_csv('Data/GDP_Quarterly_Real.csv')
df3['DATE'] = pd.to_datetime(df3.DATE)

In [110]:
result = result.merge(df3, on='DATE', how='outer')
result = result.sort_values('DATE')
result

          DATE  FEDFUNDS  CPIAUCSL      GDPC1
0   1947-01-01       NaN    21.480   2034.450
1   1947-02-01       NaN    21.620        NaN
2   1947-03-01       NaN    22.000        NaN
3   1947-04-01       NaN    22.000   2029.024
4   1947-05-01       NaN    21.950        NaN
5   1947-06-01       NaN    22.080        NaN
6   1947-07-01       NaN    22.230   2024.834
7   1947-08-01       NaN    22.400        NaN
8   1947-09-01       NaN    22.840        NaN
9   1947-10-01       NaN    22.910   2056.508
10  1947-11-01       NaN    23.060        NaN
11  1947-12-01       NaN    23.410        NaN
12  1948-01-01       NaN    23.680   2087.442
13  1948-02-01       NaN    23.670        NaN
14  1948-03-01       NaN    23.500        NaN
15  1948-04-01       NaN    23.820   2121.899
16  1948-05-01       NaN    24.010        NaN
17  1948-06-01       NaN    24.150        NaN
18  1948-07-01       NaN    24.400   2134.056
19  1948-08-01       NaN    24.430        NaN
20  1948-09-01       NaN    24.360        NaN
21  1948-10-01       NaN    24.310   2136.440
22  1948-11-01       NaN    24.160        NaN
23  1948-12-01       NaN    24.050        NaN
24  1949-01-01       NaN    24.010   2107.001
25  1949-02-01       NaN    23.910        NaN
26  1949-03-01       NaN    23.910        NaN
27  1949-04-01       NaN    23.920   2099.814
28  1949-05-01       NaN    23.910        NaN
29  1949-06-01       NaN    23.920        NaN
30  1949-07-01       NaN    23.700   2121.493
31  1949-08-01       NaN    23.700        NaN
32  1949-09-01       NaN    23.750        NaN
33  1949-10-01       NaN    23.670   2103.688
34  1949-11-01       NaN    23.700        NaN
35  1949-12-01       NaN    23.610        NaN
36  1950-01-01       NaN    23.510   2186.365
37  1950-02-01       NaN    23.610        NaN
38  1950-03-01       NaN    23.640        NaN
39  1950-04-01       NaN    23.650   2253.045
40  1950-05-01       NaN    23.770        NaN
41  1950-06-01       NaN    23.880        NaN
42  1950-07-01       NaN    24.070   2340.112
43  1950-08-01       NaN    24.200        NaN
44  1950-09-01       NaN    24.340        NaN
45  1950-10-01       NaN    24.500   2384.920
46  1950-11-01       NaN    24.600        NaN
47  1950-12-01       NaN    24.980        NaN
48  1951-01-01       NaN    25.380   2417.311
49  1951-02-01       NaN    25.830        NaN
50  1951-03-01       NaN    25.880        NaN
51  1951-04-01       NaN    25.920   2459.196
52  1951-05-01       NaN    25.990        NaN
53  1951-06-01       NaN    25.930        NaN
54  1951-07-01       NaN    25.910   2509.880
55  1951-08-01       NaN    25.860        NaN
56  1951-09-01       NaN    26.030        NaN
57  1951-10-01       NaN    26.160   2515.408
58  1951-11-01       NaN    26.320        NaN
59  1951-12-01       NaN    26.470        NaN
60  1952-01-01       NaN    26.450   2542.286
61  1952-02-01       NaN    26.410        NaN
62  1952-03-01       NaN    26.390        NaN
63  1952-04-01       NaN    26.460   2547.762
64  1952-05-01       NaN    26.470        NaN
65  1952-06-01       NaN    26.530        NaN
66  1952-07-01       NaN    26.680   2566.153
67  1952-08-01       NaN    26.690        NaN
68  1952-09-01       NaN    26.630        NaN
69  1952-10-01       NaN    26.690   2650.431
70  1952-11-01       NaN    26.690        NaN
71  1952-12-01       NaN    26.710        NaN
72  1953-01-01       NaN    26.640   2699.699
73  1953-02-01       NaN    26.590        NaN
74  1953-03-01       NaN    26.630        NaN
75  1953-04-01       NaN    26.690   2720.566
76  1953-05-01       NaN    26.700        NaN
77  1953-06-01       NaN    26.770        NaN
78  1953-07-01       NaN    26.790   2705.258
79  1953-08-01       NaN    26.850        NaN
80  1953-09-01       NaN    26.890        NaN
81  1953-10-01       NaN    26.950   2664.302
82  1953-11-01       NaN    26.850        NaN
83  1953-12-01       NaN    26.870        NaN
84  1954-01-01       NaN    26.940   2651.566
85  1954-02-01       NaN    26.990        NaN
86  1954-03-01       NaN    26.930        NaN
87  1954-04-01       NaN    26.860   2654.456
88  1954-05-01       NaN    26.930        NaN
89  1954-06-01       NaN    26.940        NaN
90  1954-07-01      0.80    26.860   2684.434
91  1954-08-01      1.22    26.850        NaN
92  1954-09-01      1.07    26.810        NaN
93  1954-10-01      0.85    26.720   2736.960
94  1954-11-01      0.83    26.780        NaN
95  1954-12-01      1.28    26.770        NaN
96  1955-01-01      1.39    26.770   2815.134
97  1955-02-01      1.29    26.820        NaN
98  1955-03-01      1.35    26.790        NaN
99  1955-04-01      1.43    26.790   2860.942
100 1955-05-01      1.43    26.770        NaN
101 1955-06-01      1.64    26.710        NaN
102 1955-07-01      1.68    26.760   2899.578
103 1955-08-01      1.96    26.720        NaN
104 1955-09-01      2.18    26.850        NaN
105 1955-10-01      2.24    26.820   2916.985
106 1955-11-01      2.35    26.880        NaN
107 1955-12-01      2.48    26.870        NaN
108 1956-01-01      2.45    26.830   2905.656
109 1956-02-01      2.50    26.860        NaN
110 1956-03-01      2.50    26.890        NaN
111 1956-04-01      2.62    26.930   2929.666
112 1956-05-01      2.75    27.030        NaN
113 1956-06-01      2.71    27.150        NaN
114 1956-07-01      2.75    27.290   2927.034
115 1956-08-01      2.73    27.310        NaN
116 1956-09-01      2.95    27.350        NaN
117 1956-10-01      2.96    27.510   2975.209
118 1956-11-01      2.88    27.510        NaN
119 1956-12-01      2.94    27.630        NaN
120 1957-01-01      2.84    27.670   2994.259
121 1957-02-01      3.00    27.800        NaN
122 1957-03-01      2.96    27.860        NaN
123 1957-04-01      3.00    27.930   2987.699
124 1957-05-01      3.00    28.000        NaN
125 1957-06-01      3.00    28.110        NaN
126 1957-07-01      2.99    28.190   3016.979
127 1957-08-01      3.24    28.280        NaN
128 1957-09-01      3.47    28.320        NaN
129 1957-10-01      3.50    28.320   2985.775
130 1957-11-01      3.28    28.410        NaN
131 1957-12-01      2.98    28.470        NaN
132 1958-01-01      2.72    28.640   2908.281
133 1958-02-01      1.67    28.700        NaN
134 1958-03-01      1.20    28.870        NaN
135 1958-04-01      1.26    28.940   2927.395
136 1958-05-01      0.63    28.940        NaN
137 1958-06-01      0.93    28.910        NaN
138 1958-07-01      0.68    28.890   2995.112
139 1958-08-01      1.53    28.940        NaN
140 1958-09-01      1.76    28.910        NaN
141 1958-10-01      1.80    28.910   3065.141
142 1958-11-01      2.27    28.950        NaN
143 1958-12-01      2.42    28.970        NaN
144 1959-01-01      2.48    29.010   3123.978
145 1959-02-01      2.43    29.000        NaN
146 1959-03-01      2.80    28.970        NaN
147 1959-04-01      2.96    28.980   3194.429
148 1959-05-01      2.90    29.040        NaN
149 1959-06-01      3.39    29.110        NaN
150 1959-07-01      3.47    29.150   3196.683
151 1959-08-01      3.50    29.180        NaN
152 1959-09-01      3.76    29.250        NaN
153 1959-10-01      3.98    29.350   3205.790
154 1959-11-01      4.00    29.350        NaN
155 1959-12-01      3.99    29.410        NaN
156 1960-01-01      3.99    29.370   3277.847
157 1960-02-01      3.97    29.410        NaN
158 1960-03-01      3.84    29.410        NaN
159 1960-04-01      3.92    29.540   3260.177
160 1960-05-01      3.85    29.570        NaN
161 1960-06-01      3.32    29.610        NaN
162 1960-07-01      3.23    29.550   3276.133
163 1960-08-01      2.98    29.610        NaN
164 1960-09-01      2.60    29.610        NaN
165 1960-10-01      2.47    29.750   3234.087
166 1960-11-01      2.44    29.780        NaN
167 1960-12-01      1.98    29.810        NaN
168 1961-01-01      1.45    29.840   3255.914
169 1961-02-01      2.54    29.840        NaN
170 1961-03-01      2.02    29.840        NaN
171 1961-04-01      1.49    29.810   3311.181
172 1961-05-01      1.98    29.840        NaN
173 1961-06-01      1.73    29.840        NaN
174 1961-07-01      1.17    29.920   3374.742
175 1961-08-01      2.00    29.940        NaN
176 1961-09-01      1.88    29.980        NaN
177 1961-10-01      2.26    29.980   3440.924
178 1961-11-01      2.61    29.980        NaN
179 1961-12-01      2.33    30.010        NaN
180 1962-01-01      2.15    30.040   3502.298
181 1962-02-01      2.37    30.110        NaN
182 1962-03-01      2.85    30.170        NaN
183 1962-04-01      2.78    30.210   3533.947
184 1962-05-01      2.36    30.240        NaN
185 1962-06-01      2.68    30.210        NaN
186 1962-07-01      2.71    30.220   3577.362
187 1962-08-01      2.93    30.280        NaN
188 1962-09-01      2.90    30.420        NaN
189 1962-10-01      2.90    30.380   3589.128
190 1962-11-01      2.94    30.380        NaN
191 1962-12-01      2.93    30.380        NaN
192 1963-01-01      2.92    30.440   3628.306
193 1963-02-01      3.00    30.480        NaN
194 1963-03-01      2.98    30.510        NaN
195 1963-04-01      2.90    30.480   3669.020
196 1963-05-01      3.00    30.510        NaN
197 1963-06-01      2.99    30.610        NaN
198 1963-07-01      3.02    30.690   3749.681
199 1963-08-01      3.49    30.750        NaN
200 1963-09-01      3.48    30.720        NaN
201 1963-10-01      3.50    30.750   3774.264
202 1963-11-01      3.48    30.780        NaN
203 1963-12-01      3.38    30.880        NaN
204 1964-01-01      3.48    30.940   3853.835
205 1964-02-01      3.48    30.910        NaN
206 1964-03-01      3.43    30.940        NaN
207 1964-04-01      3.47    30.950   3895.793
208 1964-05-01      3.50    30.980        NaN
209 1964-06-01      3.50    31.010        NaN
210 1964-07-01      3.42    31.020   3956.657
211 1964-08-01      3.50    31.050        NaN
212 1964-09-01      3.45    31.080        NaN
213 1964-10-01      3.36    31.120   3968.878
214 1964-11-01      3.52    31.210        NaN
215 1964-12-01      3.85    31.250        NaN
216 1965-01-01      3.90    31.280   4064.915
217 1965-02-01      3.98    31.280        NaN
218 1965-03-01      4.05    31.310        NaN
219 1965-04-01      4.09    31.380   4116.267
220 1965-05-01      4.10    31.480        NaN
221 1965-06-01      4.05    31.610        NaN
222 1965-07-01      4.09    31.580   4207.782
223 1965-08-01      4.12    31.550        NaN
224 1965-09-01      4.02    31.620        NaN
225 1965-10-01      4.08    31.650   4304.731
226 1965-11-01      4.10    31.750        NaN
227 1965-12-01      4.32    31.850        NaN
228 1966-01-01      4.42    31.880   4409.518
229 1966-02-01      4.60    32.080        NaN
230 1966-03-01      4.66    32.180        NaN
231 1966-04-01      4.67    32.280   4424.581
232 1966-05-01      4.90    32.350        NaN
233 1966-06-01      5.17    32.380        NaN
234 1966-07-01      5.30    32.450   4462.053
235 1966-08-01      5.53    32.650        NaN
236 1966-09-01      5.40    32.750        NaN
237 1966-10-01      5.53    32.850   4498.660
238 1966-11-01      5.76    32.880        NaN
239 1966-12-01      5.40    32.920        NaN
240 1967-01-01      4.94    32.900   4538.498
241 1967-02-01      5.00    33.000        NaN
242 1967-03-01      4.53    33.000        NaN
243 1967-04-01      4.05    33.100   4541.280
244 1967-05-01      3.94    33.100        NaN
245 1967-06-01      3.98    33.300        NaN
246 1967-07-01      3.79    33.400   4584.246
247 1967-08-01      3.90    33.500        NaN
248 1967-09-01      3.99    33.600        NaN
249 1967-10-01      3.88    33.700   4618.812
250 1967-11-01      4.13    33.900        NaN
251 1967-12-01      4.51    34.000        NaN
252 1968-01-01      4.61    34.100   4713.013
253 1968-02-01      4.71    34.200        NaN
254 1968-03-01      5.05    34.300        NaN
255 1968-04-01      5.76    34.400   4791.758
256 1968-05-01      6.12    34.500        NaN
257 1968-06-01      6.07    34.700        NaN
258 1968-07-01      6.03    34.900   4828.892
259 1968-08-01      6.03    35.000        NaN
260 1968-09-01      5.78    35.100        NaN
261 1968-10-01      5.91    35.300   4847.885
262 1968-11-01      5.82    35.400        NaN
263 1968-12-01      6.02    35.600        NaN
264 1969-01-01      6.30    35.700   4923.760
265 1969-02-01      6.61    35.800        NaN
266 1969-03-01      6.79    36.100        NaN
267 1969-04-01      7.41    36.300   4938.728
268 1969-05-01      8.67    36.400        NaN
269 1969-06-01      8.90    36.600        NaN
270 1969-07-01      8.61    36.800   4971.349
271 1969-08-01      9.19    36.900        NaN
272 1969-09-01      9.15    37.100        NaN
273 1969-10-01      9.00    37.300   4947.104
274 1969-11-01      8.85    37.500        NaN
275 1969-12-01      8.97    37.700        NaN
276 1970-01-01      8.98    37.900   4939.759
277 1970-02-01      8.98    38.100        NaN
278 1970-03-01      7.76    38.300        NaN
279 1970-04-01      8.10    38.500   4946.770
280 1970-05-01      7.95    38.600        NaN
281 1970-06-01      7.61    38.800        NaN
282 1970-07-01      7.21    38.900   4992.357
283 1970-08-01      6.62    39.000        NaN
284 1970-09-01      6.29    39.200        NaN
285 1970-10-01      6.20    39.400   4938.857
286 1970-11-01      5.60    39.600        NaN
287 1970-12-01      4.90    39.800        NaN
288 1971-01-01      4.14    39.900   5072.996
289 1971-02-01      3.72    39.900        NaN
290 1971-03-01      3.71    40.000        NaN
291 1971-04-01      4.16    40.100   5100.447
292 1971-05-01      4.63    40.300        NaN
293 1971-06-01      4.91    40.500        NaN
294 1971-07-01      5.31    40.600   5142.422
295 1971-08-01      5.57    40.700        NaN
296 1971-09-01      5.55    40.800        NaN
297 1971-10-01      5.20    40.900   5154.547
298 1971-11-01      4.91    41.000        NaN
299 1971-12-01      4.14    41.100        NaN
300 1972-01-01      3.51    41.200   5249.337
301 1972-02-01      3.30    41.400        NaN
302 1972-03-01      3.83    41.400        NaN
303 1972-04-01      4.17    41.500   5368.485
304 1972-05-01      4.27    41.600        NaN
305 1972-06-01      4.46    41.700        NaN
306 1972-07-01      4.55    41.800   5419.184
307 1972-08-01      4.81    41.900        NaN
308 1972-09-01      4.87    42.100        NaN
309 1972-10-01      5.05    42.200   5509.926
310 1972-11-01      5.06    42.400        NaN
311 1972-12-01      5.33    42.500        NaN
312 1973-01-01      5.94    42.700   5646.286
313 1973-02-01      6.58    43.000        NaN
314 1973-03-01      7.09    43.400        NaN
315 1973-04-01      7.12    43.700   5707.755
316 1973-05-01      7.84    43.900        NaN
317 1973-06-01      8.49    44.200        NaN
318 1973-07-01     10.40    44.200   5677.738
319 1973-08-01     10.50    45.000        NaN
320 1973-09-01     10.78    45.200        NaN
321 1973-10-01     10.01    45.600   5731.632
322 1973-11-01     10.03    45.900        NaN
323 1973-12-01      9.95    46.300        NaN
324 1974-01-01      9.65    46.800   5682.353
325 1974-02-01      8.97    47.300        NaN
326 1974-03-01      9.35    47.800        NaN
327 1974-04-01     10.51    48.100   5695.859
328 1974-05-01     11.31    48.600        NaN
329 1974-06-01     11.93    49.000        NaN
330 1974-07-01     12.92    49.300   5642.025
331 1974-08-01     12.01    49.900        NaN
332 1974-09-01     11.34    50.600        NaN
333 1974-10-01     10.06    51.000   5620.126
334 1974-11-01      9.45    51.500        NaN
335 1974-12-01      8.53    51.900        NaN
336 1975-01-01      7.13    52.300   5551.713
337 1975-02-01      6.24    52.600        NaN
338 1975-03-01      5.54    52.800        NaN
339 1975-04-01      5.49    53.000   5591.382
340 1975-05-01      5.22    53.100        NaN
341 1975-06-01      5.55    53.500        NaN
342 1975-07-01      6.10    54.000   5687.087
343 1975-08-01      6.14    54.200        NaN
344 1975-09-01      6.24    54.600        NaN
345 1975-10-01      5.82    54.900   5763.665
346 1975-11-01      5.22    55.300        NaN
347 1975-12-01      5.20    55.600        NaN
348 1976-01-01      4.87    55.800   5893.276
349 1976-02-01      4.77    55.900        NaN
350 1976-03-01      4.84    56.000        NaN
351 1976-04-01      4.82    56.100   5936.515
352 1976-05-01      5.29    56.400        NaN
353 1976-06-01      5.48    56.700        NaN
354 1976-07-01      5.31    57.000   5969.089
355 1976-08-01      5.29    57.300        NaN
356 1976-09-01      5.25    57.600        NaN
357 1976-10-01      5.02    57.900   6012.356
358 1976-11-01      4.95    58.100        NaN
359 1976-12-01      4.65    58.400        NaN
360 1977-01-01      4.61    58.700   6083.391
361 1977-02-01      4.68    59.300        NaN
362 1977-03-01      4.69    59.600        NaN
363 1977-04-01      4.73    60.000   6201.659
364 1977-05-01      5.35    60.200        NaN
365 1977-06-01      5.39    60.500        NaN
366 1977-07-01      5.42    60.800   6313.559
367 1977-08-01      5.90    61.100        NaN
368 1977-09-01      6.14    61.300        NaN
369 1977-10-01      6.47    61.600   6313.697
370 1977-11-01      6.51    62.000        NaN
371 1977-12-01      6.56    62.300        NaN
372 1978-01-01      6.70    62.700   6333.848
373 1978-02-01      6.78    63.000        NaN
374 1978-03-01      6.79    63.400        NaN
375 1978-04-01      6.89    63.900   6578.605
376 1978-05-01      7.36    64.500        NaN
377 1978-06-01      7.60    65.000        NaN
378 1978-07-01      7.81    65.500   6644.754
379 1978-08-01      8.04    65.900        NaN
380 1978-09-01      8.45    66.500        NaN
381 1978-10-01      8.96    67.100   6734.069
382 1978-11-01      9.76    67.500        NaN
383 1978-12-01     10.03    67.900        NaN
384 1979-01-01     10.07    68.500   6746.176
385 1979-02-01     10.06    69.200        NaN
386 1979-03-01     10.09    69.900        NaN
387 1979-04-01     10.01    70.600   6753.389
388 1979-05-01     10.24    71.400        NaN
389 1979-06-01     10.29    72.200        NaN
390 1979-07-01     10.47    73.000   6803.558
391 1979-08-01     10.94    73.700        NaN
392 1979-09-01     11.43    74.400        NaN
393 1979-10-01     13.77    75.200   6820.572
394 1979-11-01     13.18    76.000        NaN
395 1979-12-01     13.78    76.900        NaN
396 1980-01-01     13.82    78.000   6842.024
397 1980-02-01     14.13    79.000        NaN
398 1980-03-01     17.19    80.100        NaN
399 1980-04-01     17.61    80.900   6701.046
400 1980-05-01     10.98    81.700        NaN
401 1980-06-01      9.47    82.500        NaN
402 1980-07-01      9.03    82.600   6693.082
403 1980-08-01      9.61    83.200        NaN
404 1980-09-01     10.87    83.900        NaN
405 1980-10-01     12.81    84.700   6817.903
406 1980-11-01     15.85    85.600        NaN
407 1980-12-01     18.90    86.400        NaN
408 1981-01-01     19.08    87.200   6951.495
409 1981-02-01     15.93    88.000        NaN
410 1981-03-01     14.70    88.600        NaN
411 1981-04-01     15.72    89.100   6899.980
412 1981-05-01     18.52    89.700        NaN
413 1981-06-01     19.10    90.500        NaN
414 1981-07-01     19.04    91.500   6982.609
415 1981-08-01     17.82    92.200        NaN
416 1981-09-01     15.87    93.100        NaN
417 1981-10-01     15.08    93.400   6906.529
418 1981-11-01     13.31    93.800        NaN
419 1981-12-01     12.37    94.100        NaN
420 1982-01-01     13.22    94.400   6799.233
421 1982-02-01     14.78    94.700        NaN
422 1982-03-01     14.68    94.700        NaN
423 1982-04-01     14.94    95.000   6830.251
424 1982-05-01     14.45    95.900        NaN
425 1982-06-01     14.15    97.000        NaN
426 1982-07-01     12.59    97.500   6804.139
427 1982-08-01     10.12    97.700        NaN
428 1982-09-01     10.31    97.700        NaN
429 1982-10-01      9.71    98.100   6806.857
430 1982-11-01      9.20    98.000        NaN
431 1982-12-01      8.95    97.700        NaN
432 1983-01-01      8.68    97.900   6896.561

In [119]:
df4 = pd.read_csv('Data/M1_MoneySupply.csv')

<ipython-input-119-e436eff30d3d>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df4 = pd.read_csv('Data/M1_MoneySupply.csv', 'Data/M2_Money_Supply.csv')